@import "variables";
@import "login";
@import "notifications";
@import "chat";

html {
  height: 100%;
}
body {
  background-color: $greyColor;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  .loginBox,
  .gameContainer {
    display: none;
  }
  &.loggedOut {
    .loginBox {
      display: block;
    }
  }
  &.loggedIn {
    .gameContainer {
      display: block;
    }
  }
}
